<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/map.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <title>GEOVISOR</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <img
          src="/imagenes/logouv.png"
          class="navbar-logo"
          alt="Logo Univalle"
        />
        <ul class="navigation">
          <li class="navbar-item"><a href="/">Pagina Principal</a></li>
          <li class="navbar-item">
            <a href="/hojadevida">Hoja de Vida</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <div class="map-container">
        <div id="map" style="width: 100%; height: 100%"></div>
        <script src="/map.js"></script>
      </div>
    </main>
    <footer class="footer">
      <div class="footer-info">
        <div>
          <p>Fecha de publicación 11/11/2021</p>
          <p>Última modificación 14/11/2021</p>
        </div>
        <p>© 2021 Luis Miguel Jiménez Castro - 1610090.</p>
      </div>
    </footer>
  </body>
</html>
