<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tinos&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <link rel="stylesheet" href="/styles.css" />
    <title>GEOVISOR</title>
  </head>
  <body class="general-background">
    <header>
      <nav class="navigation-bar">
        <ul class="pages">
          <li><a href="/">Pagina Principal</a></li>
          <li>
            <a href="/hojadevida">Hoja de Vida</a>
          </li>
        </ul>
        <img
          src="imagenes\logouv.PNG"
          class="small-image"
          alt="Logo Univalle"
        />
      </nav>
    </header>
    <main class="container">
      <div class="content">
        <section class="section">
          <div id="map" style="width: 1800px; height: 600px"></div>
          <script src="/map.js"></script>
        </section>
      </div>
    </main>
    <footer>
      <div class="section footer">
        <div>
          <p>Fecha de publicación 11/11/2021</p>
          <p>Última modificación 14/11/2021</p>
          <p>© 2021 Luis Miguel Jiménez Castro - 1610090.</p>
        </div>
        <img
          src="imagenes\logouv.PNG"
          class="small-image"
          alt="Logo Univalle"
        />
      </div>
    </footer>
  </body>
</html>
