<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tinos&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <form action="/api/signup/" method="post">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="username" />
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        name="password"
        placeholder="password"
      />
      <input type="submit" value="Save" />
    </form>
    <div class="section footer">
      <div>
        <p>Fecha de publicación 11/11/2021</p>
        <p>Última modificación 14/11/2021</p>
        <p>© 2021 Luis Miguel Jiménez Castro - 1610090.</p>
      </div>
      <img src="imagenes\logouv.PNG" class="small-image" alt="Logo Univalle" />
    </div>
  </body>
</html>
